body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  margin: 0;
  background-color: #f0f0f0; /* Couleur de fond */
}

.phone_container {
  width: 375px; /* Largeur typique d'un téléphone */
  height: 667px; /* Hauteur typique d'un téléphone */
  border: 12px solid #333; /* Bordure pour simuler le cadre du téléphone */
  border-radius: 36px; /* Coins arrondis */
  background-color: #fff; /* Couleur de fond du téléphone */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ombre pour donner un effet de profondeur */
  position: relative; /* Pour positionner le contenu à l'intérieur */
}


header{
  display:flex;
  justify-content: space-between; /* Espace entre le logo et l'icône de compte */
  align-items: center; /* Centrer verticalement les éléments */
  padding: 5px; /* Espacement interne */
  text-align:left;
  margin-top: 3px;
  /*
  border:1px solid;
  border-color: black;*/
}

.logo{
  height: 75px;
  width: auto;
}

.compte{
  height: 40px;
  width: auto;
}

.presentation{
  text-align: left;
  height: 170px;
  padding: 10px 20px 10px 20px;
  margin-top: 5px;
  /*
  border-color: black;
  border:1px solid;*/
}


.bouton_haut {
  display: flex; /* Utilisation de Flexbox */
  flex-direction: column; /* Aligne les boutons en colonne */
  align-items: stretch; /* Les boutons s'étendent pour remplir la largeur */
  margin-top: 10px; /* Espacement entre les sections */
}

.btn_catalogue {
  width: 100%; /* Prend toute la largeur du conteneur */
  height: 100px;
  padding: 10px; /* Espacement interne pour le bouton */
  background-color: #302d2c; /* Couleur de fond */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur en forme de main au survol */
  margin-bottom: 2px; /* Espacement entre les boutons */

}

.btn_liste, .btn_carte {
  text-align: center;
  width: 50%; /* Prend 50% de la largeur du conteneur */
  height: 200px;
  padding: 10px; /* Espacement interne pour le bouton */
  background-color: #d24b1a; /* Couleur de fond */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur en forme de main au survol */
}


.boutons_bas {
  display: flex;
  flex-direction: row;
  align-items: center;  /*Centre les boutons horizontalement */
}

.btn_liste {
  margin-right: 1px; /* Espacement entre les deux boutons */
}

.btn_carte {
  margin-left: 1px; /* Espacement entre les deux boutons */
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  /*Centre les boutons horizontalement */
  text-align: center;
  padding: 16px;
  
  margin-top: 5px;
  /*border-color: black;
  border:1px solid;*/
  
}

.icone_maison, .icone_liste, .icone_carte, .icone_catalogue, .icone_aide {
  height: 30px;
  width: 30px;
  
}